name: Check Syntax

on:
  pull_request_target:
    branches:
      - "*"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Initialize
        uses: ./.github/actions/restore-node

      - name: Run Lint
        run: pnpm -r lint
