name: Run Test

on:
  pull_request_target:
    branches:
      - '*'

jobs:
  snapshot-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Initialize
        uses: ./.github/actions/restore-node

      - name: Run Test
        run: npm run test:snapshot
